<div class="page-header">
  <h1>Our team! <br><small>These are the fancy pantseses behind the company!</small></h1>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "suited_baldie_star_wars.jpg" %>
      <div class="caption">
        <h3>Asjer Querido</h3>
        <p>The main dude, je weet zelf...</p>
        <p><a href="mailto:asjer@mac.com" class="btn btn-primary" role="button">Email</a> <a href="https://www.facebook.com/asjer" class="btn btn-default" role="button">Facebook</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "bram.jpg" %>
      <div class="caption">
        <h3>Bram Querido</h3>
        <p>Psychiater, Duikarts &amp; Vader</p>
        <p><a href="mailto:bramquerido@mac.com" class="btn btn-primary" role="button">Facebook</a> <a href="https://www.facebook.com/bram.querido" class="btn btn-default" role="button">Facebook</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "nicole.jpg" %>
      <div class="caption">
        <h3>Nicole Querido</h3>
        <p>Beeldend therapeut, creatief &amp; Stiefmoeder</p>
        <p><a href="mailto:nicolequerido@mac.com" class="btn btn-primary" role="button">Facebook</a> <a href="https://www.facebook.com/nicolequeridocouprie" class="btn btn-default" role="button">Facebook</a></p>
      </div>
    </div>
  </div>
</div>